html,body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

#leftbar {
    position: absolute;
    background: #464646;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#leftbar input {
    width: 164px;
    margin: 16px 16px 0 16px;
}

#toolbar {
    text-align: right;
    margin: 16px 16px 0 16px;
    color: #ffffff;
    font-size: 70%;
}

#toolbar a {
    text-decoration: none;
    cursor: pointer;
}

#toolbar a:hover {
    text-decoration: underline;
}

#noteslist {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 16px 0;
    color: #ffffff;
    font-size: 90%;
    width: 100%;
    top: 68px;
    bottom: 28px;
    overflow-y: auto;
    overflow-x: hidden;
}

#noteslist li {
    width: 94%;
    padding: 3px 0 3px 16px;
}

#noteslist li a {
    cursor: pointer;
    text-decoration: none;
}

#noteslist li a:hover {
    text-decoration: underline;
}

#noteslist li .delete-button {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    float: right;
    right: 16px;
    width: 18px;
    height: 18px;
    text-align: center;
}

#noteslist li .delete-button:hover {
    background-color: #222222;
}

#about {
    font-size: 60%;
    color: #666666;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#note {
    position: absolute;
    left: 200px;
    margin: 0;
    right: 0;
    height: 100%;
}

#notetitle {
    outline: none;
    position: absolute;
    border: 0;
    right: 0;
    line-height: 48px;
    height: 48px;
    vertical-align: middle;
    width: 99%;
    
    font-family: sans-serif;
    font-size: 110%;
    background: transparent;
}

#notecontent {
    outline: none;
    border: 0;
    right: 0;
    position: absolute;
    top: 60px;
    width: 98%;
    bottom: 0;
    
    font-family: sans-serif;
    font-size: 100%;
    background: transparent;
}